body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #88d5e9;
	color: #333;
	font-family: 'calibri', sans-serif;
	font-weight: 400;
	text-transform: capitalize;
}

.container {
	text-align: center;
	padding: 15px;
	border-radius: 7px;
	background-color: #fff;
	flex: 0 0 80%;
}

button {
	display: block;
	font-size: 25px;
	margin: 10px auto;
	padding: 10px 15px;
	color: #fff;
	background: #6cc3d8;
	border-radius: 7px;
	outline: none;
	text-transform: capitalize;
}

button:hover {
	opacity: 0.8;
	cursor: pointer;
}

#messageIn {
	padding: 7px;
	margin: 10px;
	border-radius: 5px;
	border: 3px solid #88d5e9;
	outline: none;
	box-shadow: 0 0 10px #88d5e9;
}

#messageOut {
	margin: 10px 0;
	color: #88d5e9;
}
